body {
padding-top: 80px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

.container {
    max-width: 600px;
    width: 100%; /* Full width for smaller screens */
    text-align: center;
    padding: 40px; /* Add some padding */
    background-color: #fff; /* White background for the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
    color: #333;
}

#inputId, #MEbuttonId, #output {
    width: 100%;
    max-width: 600px; /* Limit the maximum width for larger screens */
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#MEbuttonId {
    background-color: #4643C3;
    color: #fff;
    border: none;
    cursor: pointer;
}

#MEbuttonId:hover {
    background-color: #201555;
}

#output {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 50px; /* Ensure some height for the output area */
}

#output a {
    text-decoration: none;
    color: #4CAF50;
}

#output a:hover {
    color: #3e8e41;
}

.copy-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.copy-button:hover {
    background-color: #3e8e41;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    #inputId, #buttonId, #output {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 480px) {
    #inputId, #buttonId, #output {
        font-size: 14px; /* Smaller font size for very small screens */
        height: 35px; /* Adjust height for smaller screens */
    }
}
